.App{
  background: linear-gradient(110.5deg, rgba(248, 196, 249, 0.66) 22.8%, rgba(253, 122, 4, 0.15) 64.6%);
  padding:20px 20px 20px 20px;
}
.Login{
  background: linear-gradient(110.5deg, rgba(248, 196, 249, 0.66) 22.8%, rgba(253, 122, 4, 0.15) 64.6%);

}


.img-in-card {
  width: 300px;
  height: 300px;
  object-fit: cover
}

.img-in-cart {
  width: 20vw;
  height: 40vh;
  object-fit: cover
}

.userInfoPage{
  text-align: center;
}

.userinfo{
  font-weight:700;
}
.userInfoTitle{
  font-weight:700;
  font-size:35px;
}

.sText{
  font-weight:700;
  font-size:15px;
}
.homePageButton{ border: none;
  outline: none;
  border-radius: 26px;
  background: linear-gradient(to right, #a5bdfd, #dcb5ff);
  color: black;
  font-weight: 800;
  padding: 10px 20px;
  
}
.search-div{
  padding-top:25px;
}
.pressOnPageLabels{
  font-weight:600;
}
.homeContainerTitle{
  Text-align: center; 
 color:#77529E;
 font-weight:900;
}
.welcomeback{
  padding-left: 700px;
}
.signupPage{
  text-align: center;
}

.detailPage{
  text-align: center;
}

.detailImage{
  background-position-x: center;
  background-size: contain;
  width: 300px;
  height:300px;
}

.homebodyContainer{
  padding: 5px 5px 5px 5px;
}
